.ticker-container {
    margin-left: auto;
    margin-right: auto;
}

.ticker-container ul {
    width: 100%;
    margin: auto;
    text-align: center;
    text-overflow: ellipsis;
}

.ticker-container ul li {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}